body{
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FBF8BE;
}

.logo{
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95px;
    height: 95px;

}

.extras{
    margin-left: auto;
    text-decoration: none;
    list-style: none;
}

ul{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
}
li{
    list-style: none;
    text-decoration: none;
}

.container1{
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 2px;
}

.conteudo1{
    text-align: center;
    display: flex;
    background-color: hsla(209, 100%, 30%, 0.5);
    padding: 40px;
    flex-direction: column;
    margin: auto;
    max-height: 500px;
    border-radius: 30px;
}

h1{
    font-size: 60px;
    right: 650px;
    position: relative;
    bottom: 50px;
    font-family: 'Rubik', sans-serif;
    color: #FBF8BE;
}

p{
    font-family: 'DM Sans', sans-serif;
    display:flex;
    margin: auto;
    font-size: 35px;
    position: relative;
    right: 540px;
    width: 440px;
    bottom: 60px;
    text-align:left;
    color: #EEA47F;
}

button{
    border: none;
    background: #FBF8BE;
    padding: 8px 20px;
    position: relative;
    margin-left: 45px;
    width: 200px;
    font-size: large;
    border-radius: 15px;
}

.conteudo2{
    display: flex;
    position: relative;
    bottom: 420px;
    margin-left: 850px;
}

.conteudo2 img{
    display: flex;
    margin: 50px;
    width: 650px;
    height: 400px;
    border: solid #FBF8BE 5px ;
}

#videofundo {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    z-index: -1;
  }

h2{
    font-size: 40px;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    color: #FBF8BE;
}

.infocards{
    display: flex;
    background: #00539C;
    height: 700px;
    padding: 20px;
    gap: 130px;
    margin-bottom: 0;
    justify-content: center;
}

.card{
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: center;
    width: 250px;

}

.imgC img{
    height: 280px;
    width: 100%;
    border-radius: 20px;
    border: solid seagreen;
}

.primc{
    color:#ffffff;
    border: none;
    padding-top: 10px;
    font-size: large;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    width: 250px;
}

.container2{
    background: #aad1f3;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.conjunto{
    padding-top: 20px;
    margin: auto;
}

.frase{
    width: 1300px;
    font-size: 50px;
    text-align: justify;
}
.sig{

    font-size: 30px;
    position: relative;
    margin-left: 800px;
    padding-bottom: 15px;
}

.container3{
    background: #00539C;
    height: 400px;
    display: flex;
    width: 100%;
}

.conteudo3{
    display: flex;
    background-color: #FBF8BE;
    margin: auto;
    justify-content: center;
    height: 160px;
    width: 1200px;
    border-radius: 15px;
    flex-direction: column;
}

h3{
    display: flex;
    font-size: 30px;
    padding-left: 50px;
    margin-top: 45px;
    margin-bottom: 0%;
    justify-content: flex-start;
    color: #e78554;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    position:static;
}
.minitexto{
    font-size: 20px;
    display: flex;
    padding-left: 52px;
    margin-top: 0%;
    position: static;
}

.btn-primary{
    color: black;
    display: flex;
    justify-content: flex-end;
    padding: 8px 20px;
    background-color: #aad1f300;
    border: solid #e78554;
    width: 80px;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: 25px;
    position: relative;
    bottom: 50px;
    right: 60px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
    font-family: 'Rubik', sans-serif;
}

footer{
    background:#FBF8BE;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 0%;

}